.focus {
  width: 100%;
  padding-block: 4rem;

  background-image: url("../../../images/bg/focus/focus_m.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  article {
    padding: 2rem;

    section {
      height: 100vh;

      &:nth-child(1) {
        h4 {
          color: $Blue800;
        }

        button {
          color: $Blue800;
          border-color: $Blue800;

          &:hover {
            cursor: pointer;
            background-color: $Blue800;
          }
        }
      }

      &:nth-child(2) {
        h4 {
          color: $Amber800;
        }

        button {
          border-color: $Amber800;
          color: $Amber800;

          &:hover {
            cursor: pointer;
            background-color: $Amber800;
          }
        }
      }

      &:nth-child(3) {
        h4 {
          color: $Indigo800;
        }

        button {
          border-color: $Indigo800;
          color: $Indigo800;

          &:hover {
            cursor: pointer;
            background-color: $Indigo800;
          }
        }
      }

      &:nth-child(4) {
        h4 {
          color: $Green800;
        }

        button {
          border-color: $Green800;
          color: $Green800;

          &:hover {
            cursor: pointer;
            background-color: $Green800;
          }
        }
      }

      &:nth-child(5) {
        h4 {
          color: $Red800;
        }

        button {
          border-color: $Red800;
          color: $Red800;

          &:hover {
            cursor: pointer;
            background-color: $Red800;
          }
        }
      }

      h4 {
        font-size: var(--fnt-600-m);
        margin-bottom: 8px;
      }

      h3 {
        font-size: var(--fnt-800-m);
        margin-bottom: 1rem;
      }

      p {
        font-size: var(--fnt-500-m);
        line-height: 1.5;
        margin-bottom: 1rem;
      }

      button {
        padding: 8px 1rem;
        border: 2px solid;
        border-radius: 25px;
        background-color: transparent;

        font-size: var(--fnt-500-m);
        font-weight: 700;

        &:hover {
          color: #fff;
        }
      }
    }
  }
}

@media screen and (min-width: 640px) and (max-width: 767px) {
  .focus {

    article {

      section {
        height: 100vh;

        h4 {

          font-size: var(--fnt-500-m);

        }

        h3 {
          font-size: var(--fnt-700-m);

        }

        p {
          font-size: var(--fnt-400-m);
        }

        button {
          font-size: var(--fnt-400-m);
        }
      }
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
  .focus {

    background-image: url("../../../images/bg/focus/focus_t.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    article {

      section {
        height: 100vh;

        h4 {

          font-size: var(--fnt-600-t);

        }

        h3 {
          font-size: var(--fnt-800-t);
        }

        p {
          font-size: var(--fnt-500-t);
          width: 66ch;
        }

        button {
          font-size: var(--fnt-500-t);
        }
      }
    }
  }
}

@media screen and (min-width: 1280px) {
  .focus {
    @include Center;

    background-image: url("../../../images/bg/focus/focus_d.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    article {
      width: 70%;

      section {
        height: 100vh;

        h4 {

          font-size: var(--fnt-600-d);

        }

        h3 {
          font-size: var(--fnt-800-d);
        }

        p {
          font-size: var(--fnt-500-d);
          width: 66ch;
        }

        button {
          font-size: var(--fnt-500-d);
        }
      }
    }
  }
}