.confirmation {
  position: fixed;
  bottom: 0;

  width: 100%;
  background-color: rgba(0, 0, 0, 0.85);

  padding: 2rem;
  
  @include Center;


  h1 {
    text-align: center;
  }

  .Green{
    color: $Green300;
  }

  .Red{
    color: $Red300;
  }

}

.invisible{
  display: none;
}

.visible{
  display: flex;
}