@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');

html{
  box-sizing: border-box;
  font-size: 100%;
  font-family: 'Roboto Slab', serif;
}

*,*::before,*::after{
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

a{
  text-decoration: none;
}