.tools {
  height: 80vh;
  @include Center;

  flex-direction: column;

  &__table {
    border-top: 1px solid $Gray500;
    border-bottom: 1px solid $Gray500;

    height: 70%;
    width: 70%;

    tr {
      td {
        width: 20%;
        text-align: center;

        padding: 2rem;

        img {
          width: 4rem;
          height: 4rem;
        }
      }
    }


  }
}

@media screen and (max-width: 900px) {
  
  .tools {
    height: 110vh;

    &__table {

      height: auto;
      width: 100%;

      display: flex;
      margin-top: auto;
      align-self: flex-end;

      margin-top: 1rem;

      tr {
        td {
          display: flex;

          img{
            width: 10vw;
          }
        }
      }
    }
  }
}