@keyframes colorMeshGradient{
  0%{
    background-position: center center;
  }

  25%{
    background-position: left center;
  }

  75%{
    background-position: center right;
  }
  
  100%{
    background-position: center center;
  }
}